/*------------------------------------------ ||[ CSS - navbar.jsx ]|| ----------------------------------------*/

/* --------------------------------------- [ MOBILE FIRST ] ----------------------------------------- */

/*| ---------|- Navbar -|-------- |*/
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 9em;
    padding: 0.5em 1em;
    z-index: 5;
  
    .navbarLinksBlock {
      display: none;
       
      .navbartitleLinks {
        font-size: var(--fontSizeH2);
        font-family: var(--fontFamilyText);
        color: var(--primaryColor);
      }
  
      &.open {
        display: flex;
        position: fixed;
        top: 70px;
        left: 0;
        background-color: black;
        width: 100vw;
        height: calc(100vh - 70px);
        z-index: 5;
        flex-direction: column;
        align-items: center;
  
        .links {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
            
          &:hover {
            background-color: rgba(255, 251, 239, 0.1);
          }
        }
      }
    }
  
    .burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: none;
      border: none;
      width: 26px;
      height: 20px;
      cursor: pointer;
      padding: 0;
  
      .bar {
        width: 100%;
        height: 2px;
        background-color: var(--primaryColor);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
        &.open {
          transform: rotate(-180deg);
  
          &:last-child {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* --------------------------------------- [ TABLETS / KINDLES ] ----------------------------------------- */
  
  @media screen and (min-width: 768px) {
    .navBar {
      padding: 0.5em 2em;   
    }
  }
  
  /* -------------------------------------------- [ NOTEBOOK ] ----------------------------------------------- */
  
  @media screen and (min-width: 1080px) {
    .navBar {
      padding: 0 0 0 2em;
      .navbarLinksBlock {
        display: flex;
        padding: 5%;
        align-items: center;
        justify-content: flex-end;
        width: 80%;
        gap: 2rem;
  
        .links {
          display: flex;
         
        }
      }
  
      .burger-menu {
        display: none;
      }
    }
  }
  
  /* --------------------------------------- [ DESKTOP ] ----------------------------------------- */
  
  @media screen and (min-width: 1400px) {
    /* Ajoutez des styles spécifiques aux écrans de grande taille si nécessaire */
  }
  
  /* ---------------------------------------- [ LARGE SCREEN - HD ] ------------------------------------------ */
  
  @media screen and (min-width: 1600px) {
    /* Ajoutez des styles spécifiques aux écrans de très grande taille si nécessaire */
  }
  