/*------------------------------------------ ||[ CSS - Logo.jsx ]|| ----------------------------------------*/

/* --------------------------------------- [ MOBILE FIRST ] ----------------------------------------- */

/*| ---------|- Page d'accueil -|-------- |*/

/*||- Titre -||*/
  
  .logoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4.2em;
    max-height:6em;
    border: 1px solid whitesmoke;
    padding:0.8em 0 0.2em 0;
    gap:1px;
    
    .compass{
      width:  clamp(4em, 8vw, 7.5rem);
       }
  
    .homeMainTitle {
    font-size:clamp(0.5em, 0.25vw, 0.8em);
    color: var(--primaryColor);
    font-family: var(--fontFamilyTitle);
    text-transform: uppercase;
    text-shadow: whitesmoke 1px 0 10px; 
  }
  
  .homeMainSubTitle{
    color:var(--primaryColor);
    font-size:clamp(0.35em, 0.8vw, 0.5em);
    font-family: var(--fontFamilyText);
    text-shadow: whitesmoke 1px 0 10px;
  }
  }
    
  
 /* --------------------------------------- [ TABLETS / KINDLES ] ----------------------------------------- */

@media screen and (min-width: 768px) {
  .logoDiv{
    width:  clamp(5em, 9vw, 5rem);
    max-height:7.5em;
   
    .homeMainTitle {
      font-size:0.6em;
      margin-top:0.4em;
      }
  
  .homeMainSubTitle{
    font-size:clamp(0.5em, 1vw, 0.5em);
    margin-bottom:0.8em;
  }
  }
}

/* -------------------------------------------- [ NOTEBOOK ] ----------------------------------------------- */

@media screen and (min-width: 1080px) {
 
}

/* --------------------------------------- [ DESKTOP ] ----------------------------------------- */

@media screen and (min-width: 1400px) {
}

/* ---------------------------------------- [ LARGE SCREEN - HD ] ------------------------------------------ */

@media screen and (min-width: 1600px) {
 
}
