/*------------------------------------------ ||[ CSS - navbar.jsx ]|| ----------------------------------------*/

/* --------------------------------------- [ MOBILE FIRST ] ----------------------------------------- */

/*| ---------|- Navbar -|-------- |*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap:1em;
    padding: 0 2em 0 2em; ;

    h2{
      text-align: center;
    }
  }
  
 /* --------------------------------------- [ large-format mobiles ] ----------------------------------------- */
  
 @media screen and (min-height: 855px) {
}

  /* --------------------------------------- [ TABLETS / KINDLES ] ----------------------------------------- */
  
  @media screen and (min-width: 768px) {
    .header {
      h2{
        width:70%;
      }
      }
    }
  /* -------------------------------------------- [ NOTEBOOK ] ----------------------------------------------- */
  
  @media screen and (min-width: 1080px) {
    .header {
      h2{
        width:60%;
      }
      }
  }
  
  /* --------------------------------------- [ DESKTOP ] ----------------------------------------- */
  
  @media screen and (min-width: 1400px) {
    .header {
      h2{
        width:50%;
      }
      }
  }
  
  /* ---------------------------------------- [ LARGE SCREEN - HD ] ------------------------------------------ */
  
  @media screen and (min-width: 1600px) {
    .header {
      h2{
        width:36.5%;
      }
      }
  }
  