/*------------------------------------------ ||[ CSS - Understand.jsx ]|| ----------------------------------------*/

/* --------------------------------------- [ MOBILE FIRST ] ----------------------------------------- */

/*| ---------|- Page d'accueil -|-------- |*/

/*||- Titre -||*/
.understandMainDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

   .understandText{text-align: center;}
   
    .understandContentSection{
      display: flex;
      flex-wrap: wrap;
      align-items:start;
      justify-content: center;
      text-align:start;
      padding:2em;
      gap:3.5em;   

      .understandTextBlocks{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        border:1px solid var(--primaryColor);
        backdrop-filter: var(--bgBlur);
        background:var(--bgGradient);
        box-shadow: var(--shadow);
        border-radius: 5px;
        max-width: 20em;
        padding: 2em;
        gap:1em;

        h2{text-align: center;
        margin-bottom:1em;}

        .understandLists{
          display: flex;
          flex-direction: column;
          text-align: start;
          gap:2.5em;
          padding: 0;          
          margin: 0;

          li{  
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 5px;
            height: 2em;
            max-height: 2em;
            padding-left: 2.5em;
          }
        }
      }
      #sourcesofInspirationList{gap:4.5em;}
    }}
  
  /* --------------------------------------- [ TABLETS / KINDLES ] ----------------------------------------- */
  
  @media screen and (min-width: 768px) {
    .understandTextBlocks{
    min-height: 28.5em;}
  }
  
  /* -------------------------------------------- [ NOTEBOOK ] ----------------------------------------------- */
  
  @media screen and (min-width: 1080px) {
   
  }
  
  /* --------------------------------------- [ DESKTOP ] ----------------------------------------- */
  
  @media screen and (min-width: 1400px) {
  }
  
  /* ---------------------------------------- [ LARGE SCREEN - HD ] ------------------------------------------ */
  
  @media screen and (min-width: 1600px) {
   
  }
  