/*------------------------------------------ ||[ CSS - Contact.jsx ]|| ----------------------------------------*/

/* --------------------------------------- [ MOBILE FIRST ] ----------------------------------------- */

/*||- Titre -||*/
.contactMainDiv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    .contactContentSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding:6em 3em 4em 3em;
      gap:2em;

      .contactText{text-align: center;}

      form{border:1px solid var(--primaryColor);
      display: flex;
      justify-content: center;
      align-items: center;
      width:60%;
      height: 40em;
      border-radius: 5px;
      margin:5em;
      }
    }
  }
  
  /* --------------------------------------- [ TABLETS / KINDLES ] ----------------------------------------- */
  
  @media screen and (min-width: 768px) {
    .contactContentSection{
      padding:6em 4em 4em 4em;
    }
  }
  
  /* -------------------------------------------- [ NOTEBOOK ] ----------------------------------------------- */
  
  @media screen and (min-width: 1080px) {
    .contactContentSection{
      padding:6em 7em 8em 7em;
    }
  }
  
  /* --------------------------------------- [ DESKTOP ] ----------------------------------------- */
  
  @media screen and (min-width: 1400px) {
    .contactContentSection{
      padding:6em 14em 6em 14em;
    }
  }
  
  /* ---------------------------------------- [ LARGE SCREEN - HD ] ------------------------------------------ */
  
  @media screen and (min-width: 1600px) {
    .contactContentSection{
      padding:6em 20em 6em 20em;
    }
  }
  